@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.contenedor-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    border-radius: 300%;
}
.nav-list{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 5px;
    font-size: 4vw;
    font-family: 'Roboto', sans-serif;
}
a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
body{
    background-color: #d1f4d2;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    text-align: center;
    color: #2c3e50;
    margin-top: 10px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}
h1{
    text-align: center;
    color: #2c3e50;
    margin-top: 20px;
    font-size: 5vw;
    font-family: 'Chango', cursive;    
}
h2{
    text-align: center;
    color: #2c3e50;
    font-size: 4vw;
    font-family: 'Roboto', sans-serif;
}
.contenedor-seccion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    padding: 20px;
}
li{
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    color: #2c3e50;
    margin: 10px 0;
    text-decoration: none;}
    
footer{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.contenedor-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.parrafo-footer{
    font-size: 3vw;
    margin: 0;
    color: white;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}